# macOS
.DS_Store

# Node / package managers
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Vite build output
dist/
dist-ssr/

# Local env files (do NOT commit secrets)
.env
.env.*
!.env.example

# TypeScript
*.tsbuildinfo

# IDEs
.vscode/
.idea/

# Vercel
.vercel/

#the suggesstions file of what we may or may not build
suggesstions.md 